<!-- renders the list of user categories for the nav panel -->

<% if @categories == nil %>
	
	<li>No personal categories yet :(</li>

<% else %>

    <% @categories.each do |c| %>

    	<li><a href="#<%=c.name%>" data-toggle="tab"><%=c.name%></a></li>

    <% end %>


<% end %>
