<section class="container-fluid" id="section6">
  <h1 class="text-center v-center" color="000000"></i>What's new? <br>06/10/2014</h1><br>
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-left">


<p class="lead">Fixed a bug where users could select other user categories when "categorizing" their notes. Now you will only see your own categories.</p><br>

<p class="lead">Trying a mailing feature!. Now if you send an e-mail to just@remnd.it from an e-mail without an account you will receive an invitation to sign-up!</p><br>

<p class="lead">I am working on using the mail feature to send a daily e-mail summary (is that the right frequency?) of your activity, so your notes and links stay on top of your inbox</p><br>

<p class="lead">Do you have any suggestion?... I'll set up a mail for it, just give me a couple of days ;) </p><br>

</div>
</div>
</section>