<section class="container-fluid" id="section6">
  <h1 class="text-center v-center" color="000000"></i>What's new? <br>08/05/2014</h1><br>
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-left">


<p class="lead">Now you can receive a daily summary of the notes you created the previous day. Stay on top of your To do List, watch those videos you couldn't watch yesterday or share that article you saved. To activate, go to your account settings and check the appropriate box. For now ReMND.it only supports daily e-mails sent at 7am PT. I'll probably add support for time and frequency customization later.</p><br>

<p class="lead">Extended number of notes in main page from 5 to 15. It is great to have more notes in your main page but I have seen that in some environments this runs slow, I'll review it in the next app iteration </p><br>

<p class="lead">Fixed a bug where you could select other users categories when categorizing your own notes. You didn't have access to other users' notes but still, it was anoying.</p></br>

<p class="lead", align="center">06/12/2014</p><br>

<p class="lead">Added Twitter button to share your notes and links!</p><br>

<p class="lead">Minor cosmetic changes</p><br>

<p class="lead", align="center">06/10/2014</p><br>

<p class="lead">Fixed a bug where users could select other user categories when "categorizing" their notes. Now you will only see your own categories.</p><br>

<p class="lead">Trying a mailing feature!. Now if you send an e-mail to just@remnd.it from an e-mail without an account you will receive an invitation to sign-up!</p><br>

<p class="lead">I am working on using the mail feature to send a daily e-mail summary (is that the right frequency?) of your activity, so your notes and links stay on top of your inbox</p><br>

<p class="lead">Do you have any suggestion?... I'll set up a mail for it, just give me a couple of days ;) </p><br>

</div>
</div>
</section>