<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name%>!</h1>
    <p>
      Yesterday, <%= @date.to_date.to_formatted_s(:long_ordinal) %>, you added <%= @links.size%> new notes! <br>
    </p>
    <p>
    <% if @links.size <1 %>

      Maybe today you will see more interesting stuff you will like to save and share ;) <br>

    <% else %>

      Well done!, let's take a look at them:

    </p>

    <%= render 'mail_links' %>

    <p>

    <% end %> 
      Remember that you can always go to <a HREF="http://www.ReMND.it"> www.ReMND.it </a> to edit, categorize and delete your notes or change your e-mail notification preferences
    </p>
    <p>Thank you for using ReMND.it!</p>
    <p>-ReMND.it</p>

  </body>
</html>