<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name%>!</h1>
    <p>
      You have <%= @links.size%> new notes since <%= @date.to_date.to_formatted_s(:long_ordinal) %>:<br>
    </p>

    <%= render 'mail_links' %>

    <p>
      Remember that you can always go to <a HREF="http://www.ReMND.it"> www.ReMND.it </a> to edit, categorize and delete these notes or change your e-mail notifications
    </p>
    <p>Thank you for using ReMND.it!</p>
    <p>-ReMND.it</p>

  </body>
</html>