<section class="container-fluid" id="section2">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
        <br>
		<p class="lead">

			<p>Welcome <%= @email %>!</p>

			<p>You can confirm your account email through the link below:</p>

			<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

		</p>
        <br> 
    </div>
  </div>
</section>